html {
	background-color: black;
}

.main {
	color: white;
	text-align: center;
}

h1 {
	color: teal;
}

h2 {
	color: #c5a9ff;
}

h3, h4 {
	color: white;
}

ol {
	color: white;
}

a:hover {
	color: #c5a9ff;
	text-decoration: none;
}

p {
	color: white;
}
