html {
	background-color: #ccc;
	text-align: center;
}

.main {
	color: black;
	text-align: center;
}

h1 {
	color: teal;
}

h2 {
	color: #c5a9ff;
}

h3, h4 {
	color: white;
}

ol, li {
	color: white;
	list-style-type: none;
}

a:link {
	color: #cf690b;
	text-decoration: none;
}

a:visited {
	color: #666666;
}

a:active {
	color: #ffcc00;
}

a:hover {
	color: #ffcc00;
	text-decoration: underline;
}

p {
	color: white;
}
